h1{
    text-align: center;
    color: #CF9212;
}

h2{
    text-align: center;
    color: #224095;
}

p{
    text-align: center;
}

h4{
    text-align: center;
    color: #CF9212;
}

ul li{
    text-align: center;
}