h1{
    text-align: center;
    color: blue;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

h4{
    text-align: center;
}

ul li{
    text-align: center;
    text-decoration-style: none;
}